#main-title {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: whitesmoke;
    font-weight: 1000;
    border-radius: 100px;
    padding: 10px 20px;
    background-color: rgb(68, 94, 147);
    width: 400px;
    margin: auto;
}
#name {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(68, 94, 147);
    font-weight: 200;
    font-size: large;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    color: rgb(68, 94, 147);
    font-weight: 400;
}
#index {
    font-family: 'Open Sans', sans-serif;
    color: rgb(68, 94, 147);
    font-weight: 700;
    text-decoration: none;
}
.sumary {
    text-decoration: none;
    line-height: 2;
}
p, li {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
body {
    padding: 20px;
    background-color: rgb(229, 237, 245);
    overflow-x: hidden;
}
#profile-photo {
    position: absolute;
    z-index: 1;
    float: left;
    border-radius: 200px;
    border: 2px solid rgb(26, 147, 111);
    height: 300px;
}
.description {
    font-family: 'Open Sans', sans-serif;
    color: rgb(26, 147, 111);
    height: 300px;
    position: relative;
    top: 120px;
    left: 360px;
}
.Criatividade {
    font-size: 20px;
    line-height: 4;
}
.Determinacao {
    font-size: 18px;
    line-height: 4;
}
.Comprometimento {
    font-size: 16px;
    line-height: 4;
}
.Jogador {
    font-size: 14px;
    line-height: 4;
    color: rgb(68, 94, 147);
    font-weight: 800;
}
ul li:nth-child(odd) {
    list-style: georgian;
}
.button {
    line-height: 2;
    text-decoration: none;
    background-color: rgb(68, 94, 147);
    color: rgb(229, 237, 245);
    border-radius: 4px;
    padding: 15px 30px;
}